/* navigation */

.navbar{
    background-color:#88E05E;
	padding:6px;
	display:block;
	z-index:1;
	width:100%;
	box-shadow: 0px 4px 0px 0px solid black;;
}
.navbar p{
	color:lightyellow;
	font-family: 'Zilla Slab', serif;
	font-size: 15 px;
	font-weight: 1000 !important;
	}
.navbar ul{
    font-size:18px;
	font-weight:500;
    margin-bottom: 0px;
}
.navbar ul li{
	padding: 0px 15px;
}
.navbar ul li a:hover{
	text-decoration:underline;
}